@model Timelinio.Models.Timeline

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Focus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Focus.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BeginDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd>
            <table class="table" id="events-table">
                <tr>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event Description</th>
                </tr>
                @foreach (var item in Model.Events)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    @Html.Partial("EventForm.cshtml", new Timelinio.Models.Event { TimelineID = Model.TimelineID })
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TimelineID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

